
:root{
    --primary-color: hsl(25, 97%, 53%);

    --secondary-color: hsl(0, 0%, 100%);
    --tertiary-color: hsl(217, 12%, 63%);
    --fouthary-color: hsl(216, 12%, 54%);
    --fifthary-color: hsl(213, 19%, 18%);
    --sixthary-color: hsl(216, 12%, 8%);
}